<h3>Carrinho</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency: 'BRL' }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="nome">
      NOME
    </label>
    <input id="nome" type="text" formControlName="nome">
  </div>

  <div>
    <label for="endereco">
      ENDEREÇO
    </label>
    <input id="endereco" type="text" formControlName="endereco">
  </div>

  <button class="button" type="submit">Finalizar compra</button>

</form>
